<h1>Reset Password</h1>

<p>To reset your password, follow this link:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>The link will expire in two hours.</p>

<p>
  If you have not requested a password reset, please ignore this email,
  your password will remain unchanged.
</p>
