<% provide(:title, 'All users') %>

<div class="content">
  <ul class="users">
    <h1 class="center">All users</h1>
    <% @users.each do |user| %>
      <li class="user-item">
        <%= gravatar_for user, size: 50, class: 'gravatar-image' %>
        <%= link_to user.name, user, class: 'user-link' %>
      </li>
    <% end %>
    <div class="content">
      <div class="center jumbotron">
        <%= paginate @users%>
      </div>
      </div>
  </ul>
</div>