<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Sign up') %>

<div class="content">
  <div class="form-container">
    <div class="center jumbotron">
      <h1>CREATE AN ACCOUNT</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
