<footer class="bg-dark text-white pt-4 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase">X-Sample</h5>
        <p>Blaze your glory!</p>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Home</a></li>
          <li><a href="#" class="text-white">About</a></li>
          <li><a href="#" class="text-white">Help</a></li>
          <li><a href="#" class="text-white">Contact</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase">Follow Us</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Instagram</a></li>
          <li><a href="#" class="text-white">LinkedIn</a></li>
        </ul>
      </div>
    </div>
    <div class="text-center py-3">© 2024 X-Sample. All Rights Reserved.</div>
  </div>
</footer>