<footer class="bg-dark text-white pt-4 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase">X-Sample</h5>
        <p>Blaze your glory!</p>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="<%= root_path %>" class="nav-link active">Home</a></li>
          <li><a href="<%= about_path %>" class="nav-link active">About</a></li>
          <li><a href="<%= help_path %>" class="nav-link active">Help</a></li>
          <li><a href="<%= contact_path %>" class="nav-link active">Contact</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <h5 class="text-uppercase">Follow Us</h5>
        <ul class="list-unstyled">
          <li><a href="https://www.instagram.com/shar.off_" class="nav-link active"><i class="bi bi-instagram"></i> Instagram</a></li>
          <li><a href="https://www.linkedin.com/in/ivan-sharov-964421282/" class="nav-link active"><i class="bi bi-linkedin"></i> LinkedIn</a></li>
          <li><a href="https://github.com/shar0ff" class="nav-link active"><i class="bi bi-github"></i> GitHub</a></li>
        </ul>
      </div>
    </div>
    <div class="text-center py-3">© 2024 X-Sample. All Rights Reserved.</div>
  </div>
</footer>